<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Stock Market</title>
</head>

<body>
    <script>
        function buyStock(name) {
            fetch("/api/buy_stock", {
                method: "POST",
                body: JSON.stringify({"name": name})
            }).then((response) => {if (response.status == 200) {location.reload();} });
        }
        function sellStock(name) {
            fetch("/api/sell_stock", {
                method: "POST",
                body: JSON.stringify({"name": name})
            }).then((response) => {if (response.status == 200) {location.reload();} });
        }
    </script>
    <h1>Welkome to my stokc makret</h1>
    <p>Your stocks:</p>
    {% for name, amount in user.count_stocks().items()%}
    <p>{{name}} : {{amount}}</p>
    {% endfor %}

    <p>Your money:{{user.money}}</p>
    <ul>
        {% for stock in stocks %}
        <li>
            <div>
                <a>{{stock.name}}</a>
                <a>{{stock.amount}}/{{stock.max_amount}}</a>
                <button onclick="buyStock('{{stock.name}}')">Buy: {{stocks[stock]}}₽</button>
                <button onclick="sellStock('{{stock.name}}')">Sell: {{stocks[stock]-1}}₽</button>
            </div>
        </li>
        {% endfor %}
    </ul>
</body>

</html>
